menu "Example Configuration"

config WIFI_SSID
    string "WiFi SSID"
	default "myssid"
	help
		SSID (network name) for the example to connect to.

config WIFI_PASSWORD
    string "WiFi Password"
	default "myssid"
	help
		WiFi password (WPA or WPA2) for the example to use.

		Can be left blank if the network has no security set.

config IOTHUB_CONNECTION_STRING
    string "IOT Hub Device Connection String"
	default "HostName=<>;SharedAccessKeyName=<>;SharedAccessKey=<>"
    help
		String containing Hostname, SharedAccessKeyName & SharedAccessKey in the format:
		
		You can get this from the Azure IoT Portal

endmenu
