menu "Example Configuration"

config WIFI_SSID
    string "WiFi SSID"
	default "myssid"
	help
		SSID (network name) for the example to connect to.

config WIFI_PASSWORD
    string "WiFi Password"
	default "myssid"
	help
		WiFi password (WPA or WPA2) for the example to use.

		Can be left blank if the network has no security set.

config IOTHUB_CONNECTION_STRING
    string "IOT Hub Connection String"
	default ""
	help
		The IoT Hub Connection string - primary key in the format
		"HostName=<hostname>;SharedAccessKeyName=<shared_access_key_name>;SharedAccessKey=<shared_access_key>."
		You can get this from the Azure IoT CLI or the Azure Portal.

config DEVICE_COMMON_NAME
    string "Device Leaf Certificate Common Name"
    default "mydevice"
    help
        Common name of Leaf Certificate

config DPS_ID_SCOPE
    string "ID Scope of Device provisioning service"
    default "myidscope"
    help
        This is the unique ID scope of Device Provisioning Service (DPS), and can be found under "Overview"
        section of your DPS on azure IoT portal

endmenu
