menu "Example Configuration"

config WIFI_SSID
    string "WiFi SSID"
	default "myssid"
	help
		SSID (network name) for the example to connect to.

config WIFI_PASSWORD
    string "WiFi Password"
	default "myssid"
	help
		WiFi password (WPA or WPA2) for the example to use.

		Can be left blank if the network has no security set.

config IOTHUB_CONNECTION_STRING
    string "IOT Hub Device Connection String"
	default "HostName=<host_name>;DeviceId=<device_id>;x509=true"
	help
		String containing Hostname, Device Id & Device Key in the format:
		
		HostName=<host_name>;DeviceId=<device_id>;SharedAccessKey=<device_key>
		HostName=<host_name>;DeviceId=<device_id>;SharedAccessSignature=<device_sas_token>

		You can get this from the iothub-explorer CLI or the Azure Portal

config DEVICE_COMMON_NAME
    string "Device Leaf Certificate Common Name"
    default "mydevice"
    help
        Common name of Leaf Certificate

config DPS_ID_SCOPE
    string "Unique DPS ID Scope of Device provisioning service"
    default "myidscope"
    help
        This is the unique ID scope of DPS, and can be found under "Overview"
        section of your DPS on azure IoT portal

endmenu
